@page "/"

<PageTitle>Programming Test</PageTitle>
<div class="container-fluid d-flex justify-content-center m-5">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent text-center">
                <h5>Programming Test C1002</h5>
            </div>
            <div class="card-body">
                <EditForm Model="@_submitModel" OnValidSubmit="onClick_btnStart">
                    <DataAnnotationsValidator />
                    <div class="row gx-3 gy-2">
                        <div class="col-sm-6">
                            <div class="row mb-3">
                                <label for="numeric" class="col-sm-6 col-form-label">Numeric (%)</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" @bind="_submitModel.IntPercentage" id="numeric">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="alphanumeric" class="col-sm-6 col-form-label">Alphanumeric (%)</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" @bind="_submitModel.StringPercentage" id="alphanumeric">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="float" class="col-sm-6 col-form-label">Float (%)</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" @bind="_submitModel.FloatPercentage" id="float">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="fileSize" class="form-label text-center">Size of the output file (KB)</label>
                            <InputText type="number" class="form-control" @bind-Value="_submitModel.FileSize" id="fileSize" />
                            <ValidationMessage For="@(() => _submitModel.FileSize)" />
                        </div>
                        <div class="col-auto">
                            <button type="submit" id="btnStart" class="btn btn-success btn-sm">Start</button>
                            <button type="button" id="btnStop" @onclick="onClick_btnStop" class="btn btn-danger btn-sm">Stop</button>
                        </div>
                        <div class="row mb-3">
                            <label for="counterOne" class="col-sm-4 col-form-label">Counter 1 (Numeric)</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control" @bind="InputDataCount.IntegerCount" id="counterOne">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="counterTwo" class="col-sm-4 col-form-label">Counter 2 (Alphanumeric)</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control" @bind="InputDataCount.StringCount" id="counterTwo">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="counterThree" class="col-sm-4 col-form-label">Counter 3 (Float)</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control" @bind="InputDataCount.FloatCount" id="counterThree">
                            </div>
                        </div>
                    </div>
                </EditForm>
                <div class="bg-transparent d-grid gap-2">
                    <button type="button" id="btnGenerateButton" @onclick="onClick_btnGenerate" class="btn btn-primary btn-sm rounded-pill">Generate Report</button>
                </div>
            </div>
        </div>
    </div>
</div>


@*modal*@
<div class="modal" style="display: @_modalDisplay;">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100">Distribution of the data types in the file</h5>
                <button type="button" class="btn-close" @onclick="Close_OnClick"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered border-dark">
                    <thead>
                        <tr>
                            <th class="text-center">% Numeric</th>
                            <th class="text-center">% Alphanumeric</th>
                            <th class="text-center">% Float</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">% @OutPutDataCount.IntegerPercentage</td>
                            <td class="text-center">% @OutPutDataCount.StringPercentage</td>
                            <td class="text-center">% @OutPutDataCount.FloatPercentage</td>
                        </tr>
                    </tbody>
                </table>
                @foreach (var item in _getData)
                {
                    <ul class="list-group">
                        <li class="list-group-item">@item.Data - @item.TypeName</li>
                    </ul>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="Close_OnClick">Close</button>
            </div>
        </div>
    </div>
</div>

